.body {
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  height: 80px;
  background-color: black;
  border-bottom: 1px solid red;
}

.children {
  width: 100%;
}

.footer {
  display: flex;
  width: 100%;
  max-height: 280px;
  border-top: 1px solid red;
}

.footer .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
}

.footerTitle {
  margin: 25px auto 0;
  font-weight: bold;
  font-size: 57px;
  line-height: 69px;

  color: #A10202;
}

.footerTitle span:last-child {
  color: #C4C4C4;;
}

.links {
  margin: 15px auto 0;
  font-size: 14px;
  line-height: 26px;
}

.links a:not(:last-child) {
  margin-right: 37px;
}

.contacts {
  margin: 25px 40px 0 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.contacts a:first-child {
  margin: 0 204px 0 40px;
  text-decoration: underline;
}

.contacts a:last-child {
  margin-left: 101px;
}

.copyright {
  margin-top: 29px;
  padding: 20px 0 20px 40px;
  font-size: 12px;
  line-height: 24px;
  border-top: 1px solid RGBA(255,255,255,0.21);
}

.copyright span > span {
  color: #A10202;
}