@use '@/styles/common' as *;

.page {
  display: grid;
  gap: $space-8;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: $space-4;
}

.content {
  display: grid;
  grid-template-columns: 280px minmax(0, 1fr);
  gap: $space-8;

  @include breakpoint('phone') {
    grid-template-columns: 1fr;
  }
}

.filters {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: $space-6;

  @include breakpoint('tablet') {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include breakpoint('phone') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
