$desktop-min-width: 1201px;
$tablet-max-width: 1200px;
$tablet-min-width: 768px;
$small-tablet-max-width: 767px;
$small-tablet-min-width: 533px;
$phone-max-width: 532px;

@mixin breakpoint($point) {
  @if $point == desktop {
    @media screen and (min-width: $desktop-min-width) {
      @content;
    }
  } @else if $point == tablet {
    @media screen and (max-width: $tablet-max-width) {
      @content;
    }
  } @else if $point == tablet-small {
    @media screen and (max-width: $small-tablet-max-width) {
      @content;
    }
  } @else if $point == phone {
    @media screen and (max-width: $phone-max-width) {
      @content;
    }
  }
}
