@import url('./fonts.css');
@import url('./normalize.css');

:root {
  --main-red-100: rgba(147, 0, 0, 1);
  --main-red-90: rgba(147, 0, 0, 0.9);
  --main-red-80: rgba(147, 0, 0, 0.8);
  --main-red-70: rgba(147, 0, 0, 0.7);
  --main-red-60: rgba(147, 0, 0, 0.6);
  --main-red-50: rgba(147, 0, 0, 0.5);
  --main-red-40: rgba(147, 0, 0, 0.4);
  --main-red-30: rgba(147, 0, 0, 0.3);
  --main-red-20: rgba(147, 0, 0, 0.2);
  --main-red-10: rgba(147, 0, 0, 0.1);

  --main-white: #dcdcdc;
  --main-black: #121212;
  --grey: #c4c4c4;

  --popover-z-index: 100;
  --modal-z-index: 10;
  --upper-z-index: 2;
  --controls-z-index: 6;

  --width: 1440px;
  --max-width: 1920px;
  --main-margin: calc((100vw - var(--width)) / 2);
}

@media screen and (max-width: 1440px) {
  :root {
    --width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --width: 830px;
  }
}

@media screen and (max-width: 830px) {
  :root {
    --width: 580px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --width: 300px;
  }
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #102327;
  width: 100%;
  min-height: 100%;
}
