@import url('./fonts.css');
@import url('./normalize.css');
@import url('../../node_modules/swiper/swiper.min.css');
@import url('../../node_modules/swiper/modules/pagination/pagination.min.css');

:root {
  --main-red-100: rgba(147, 0, 0, 1);
  --main-red-90: rgba(147, 0, 0, 0.9);
  --main-red-80: rgba(147, 0, 0, 0.8);
  --main-red-70: rgba(147, 0, 0, 0.7);
  --main-red-60: rgba(147, 0, 0, 0.6);
  --main-red-50: rgba(147, 0, 0, 0.5);
  --main-red-40: rgba(147, 0, 0, 0.4);
  --main-red-30: rgba(147, 0, 0, 0.3);
  --main-red-20: rgba(147, 0, 0, 0.2);
  --main-red-10: rgba(147, 0, 0, 0.1);

  --main-white-100: rgba(220, 220, 220, 1);
  --main-white-90: rgba(220, 220, 220, 0.9);
  --main-white-80: rgba(220, 220, 220, 0.8);
  --main-white-70: rgba(220, 220, 220, 0.7);
  --main-white-60: rgba(220, 220, 220, 0.6);
  --main-white-50: rgba(220, 220, 220, 0.5);
  --main-white-40: rgba(220, 220, 220, 0.4);
  --main-white-30: rgba(220, 220, 220, 0.3);
  --main-white-20: rgba(220, 220, 220, 0.2);
  --main-white-10: rgba(220, 220, 220, 0.1);

  --main-black: #121212;
  --main-black-80: #121212e0;
  --key: #000000;
  --grey: #c4c4c4;

  --low-z-index: -1;
  --up-z-index: 1;
  --upper-z-index: 2;
  --top-z-index: 99999;

  --width: 1440px;
  --searchBarWidth: 335px;
  --max-width: 1920px;
  --main-margin: calc((100vw - var(--width)) / 2);
  --header-height: 80px;
}

@media screen and (max-width: 1440px) {
  :root {
    --width: 1024px;
    --searchBarWidth: 256px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --width: 830px;
    --searchBarWidth: 186px;
  }
}

@media screen and (max-width: 830px) {
  :root {
    --width: 580px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --width: 300px;
  }
}

@media screen and (max-width: 320px) {
  :root {
    --searchBarWidth: 99px;
  }
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #102327;
  width: 100%;
  min-height: 100%;
  scrollbar-gutter: stable;
  background-color: #020202;
  margin: 0; /* изначально этот параметр не был указан и по умолчанию поля в 8px */
}

.scroll-lock {
  overflow: hidden;
}

.visibility-hidden {
  position: absolute;
  z-index: var(--low-z-index);

  display: inline-block;

  width: 1px;
  height: 1px;

  margin: -1px;

  clip: rect(0, 0, 0, 0);

  overflow: hidden;
}
