@import url('./fonts.css');
@import url('./normalize.css');

:root {
  --main-red-100: rgba(147, 0, 0, 1);
  --main-red-90: rgba(147, 0, 0, 0.9);
  --main-red-80: rgba(147, 0, 0, 0.8);
  --main-red-70: rgba(147, 0, 0, 0.7);
  --main-red-60: rgba(147, 0, 0, 0.6);
  --main-red-50: rgba(147, 0, 0, 0.5);
  --main-red-40: rgba(147, 0, 0, 0.4);
  --main-red-30: rgba(147, 0, 0, 0.3);
  --main-red-20: rgba(147, 0, 0, 0.2);
  --main-red-10: rgba(147, 0, 0, 0.1);

  --red-hover: 0 0 15px 5px var(--main-red-60);

  --main-white-100: rgba(220, 220, 220, 1);
  --main-white-90: rgba(220, 220, 220, 0.9);
  --main-white-80: rgba(220, 220, 220, 0.8);
  --main-white-70: rgba(220, 220, 220, 0.7);
  --main-white-60: rgba(220, 220, 220, 0.6);
  --main-white-50: rgba(220, 220, 220, 0.5);
  --main-white-40: rgba(220, 220, 220, 0.4);
  --main-white-30: rgba(220, 220, 220, 0.3);
  --main-white-20: rgba(220, 220, 220, 0.2);
  --main-white-10: rgba(220, 220, 220, 0.1);

  --main-black: #121212;
  --main-black-80: #121212e0;
  --key: #000000;
  --grey: #c4c4c4;

  --low-z-index: -1;
  --up-z-index: 1;
  --upper-z-index: 2;
  --top-z-index: 99999;

  --width: 1440px;
  --searchBarWidth: 335px;
  --max-width: 1920px;

  --text-max-width: 1000px;

  --main-margin: calc((100vw - var(--width)) / 2);
  --header-height: 80px;
  --header-gap: clamp(30px, 3.1vw + 20px, 80px);
  --first-title-gap: clamp(20px, 0.625vw + 18px, 30px);

  --font-heading-xl: 50px;

  --font-xl: 24px;
  --font-l: 20px;
  --font-m: 16;
  --font-s: 12px;
  /* --heading-xl */
  --top-div-gap: 100px;
}

/* добавлено чтобы убрать полосу прокрутки страницы в Chrome */
/* ::-webkit-scrollbar {
  display: none;
} */



html,
body {
  /* display: flex;
  justify-content: center; */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: var(--main-white-100);
  width: 100%;
  min-height: 100%;
  /* scrollbar-gutter: stable; */
  background-color: var(--main-black);
  margin: 0; /* изначально этот параметр не был указан и по умолчанию поля в 8px */
}

/* попытка починить футер стилями корневого элемента */
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scroll-lock {
  overflow: hidden;
}

.visibility-hidden {
  position: absolute;
  z-index: var(--low-z-index);

  display: inline-block;

  width: 1px;
  height: 1px;

  margin: -1px;

  clip: rect(0, 0, 0, 0);

  overflow: hidden;
}

.max-width {
  padding: 0 10vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.max-width > * {
  max-width: 1440px;
}

@media screen and (max-width: 1440px) {
  :root {
    --width: 1024px;
    --searchBarWidth: 256px;
    --top-div-gap: 70px;

    --header-height: 70px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --width: 830px;
    --searchBarWidth: 186px;
    --top-div-gap: 50px;

    --header-height: 60px;
  }

  .max-width {
    padding: 0 5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 830px) {
  :root {
    /* --width: 580px; */
    --width: 722px;
    --top-div-gap: 40px;

    --header-height: 58px;
  }
}

@media screen and (max-width: 744px) {
  :root {
    --width: 640px;
    --top-div-gap: 30px;
  }
}

@media screen and (max-width: 650px) {
  :root {
    --width: 500px;
    --top-div-gap: 30px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --width: 320px;
    --top-div-gap: 30px;
  }
}

@media screen and (max-width: 320px) {
  :root {
    --searchBarWidth: 99px;
    --top-div-gap: 30px;
  }
}
